body {
    display: block;
}

.mentors-hp {
    width: 100%;
    justify-content: center;
    text-align: start;
}

.mentors-box {
    width: 80%;
}

.mentors-hp .container {
    max-width: 65%;
    display: flex;

}

.mentors-hp .homepage-content {
    min-width: 35%;
    max-width: 35%;
    margin-top: 200px;
}

.mentor-pic {
    width: 500px;
    margin-top: 200px;

    position: relative;
}

.search-container input[type='text'] {
    font-family: "avenir-black";
    width: 150;
}

.search-container {
    text-align: center;
}

.search-button {
    margin-top: 10px;
    font-family: "avenir-black";
    background-color: #252c6a;;
    color: white;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

.mentors-s1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mentors-s1-content {

}